<layout>
  <head>
    <title name="Components" />
  </head>
  <body>
    This is an example for all components which can be set.<br />
    For an description see in workdir of port-server<br />
    subdirectory client the file named layout_description.txt<br />
    The source layout from this side is in the same subdirectory,<br />
    called components.desktop<br />
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
	  <input type="checkbox" result="outline[1]:holder" />
	  CHECKBOX<br />
	  <input type="radio" name="myradio" value="0" result="outline[1]:holder" />
	  RADIOBUTTON<br />
	  <input type="radio" name="myradio" value="1" result="outline[1]:holder" />
	  RADIOBUTTON
	</td>
	<td>
	  <table cellpadding="5">
	    <tr>
	      <td>
		<input type="button" value="PUSH" result="outline[1]:holder" />
	      </td>
	    </tr>
	    <tr>
	      <td>
		<input type="togglebutton" value="TOGGLE" result="outline[1]:holder" />
	      </td>
	    </tr>
	  </table>
	</td>
	<td>
	  <table border="0">
	    <tr>
	      <td>
	      </td>
	      <td colspan="2">
		UPBUTTON
	      </td>
	    </tr>
	    <tr>
	      <td>
		LEFTBUTTON&#160;&#160;&#160;&#160;
	      </td>
	      <td>
		<input type="upbutton" result="outline[1]:holder" />
	      </td>
	    </tr>
	    <tr>
	      <td align="right">
		<input type="leftbutton" result="outline[1]:holder" />
	      </td>
	      <td>
	      </td>
	      <td>
		<input type="rightbutton" result="outline[1]:holder" />
	      </td>
	    </tr>
	    <tr>
	      <td>
	      </td>
	      <td>
		<input type="downbutton" result="outline[1]:holder" />
	      </td>
	      <td width="300" align="right">
					&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;RIGHTBUTTON
	      </td>
	    </tr>
	    <tr>
	      <td>
	      </td>
	      <td colspan="2">
		DOWNBUTTON
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <table border="0">
	    <tr>
	      <td>
		<input type="text" result="outline[1]:holder" value="us" />
		INPUT
	      </td>
	    </tr>
	    <tr>
	      <td>
		<input type="slider" result="outline[1]:holder" />
		SLIDER
	      </td>
	      <td>
		<input type="spinner" result="outline[1]:holder" />
		SPINNER
	      </td>
	    </tr>
	    <tr>
	      <td>
		<input type="scale" width="200" result="outline[1]:holder" />
		SCALE
	      </td>
	    </tr>
	    <tr>
	      <td>
		<select size="1" result="outline[1]:holder">
		  <option value="0">Anwesend</option>
		  <option value="1">Urlaub</option>
		</select>
		COMBO
	      </td>
	      <td>
		<select size="3" height="50" result="outline[1]:holder">
		  <option>Anwesend</option>
		  <option>Urlaub</option>
		  <option>3er Componente</option>
		  <option>4er Componente</option>
		</select>
		COMBO
	      </td>
	    </tr>
	  </table>
	</td>
      </tr>
    </table>
  </body>
</layout>