<layout>
	<head>
		<title>
		  basic Subroutines
		</title>
	</head>
	<body>
		folder time_routines
		<br />
		subroutines from type TIMER
		<br />
		<input type="text" format="#2" width="18" result="time_routines:days" />.
		<input type="text" format="#2" width="18" result="time_routines:months" />.
		<input type="text" format="#4" width="30" result="time_routines:years" />
		&#160;&#160;
		<input type="text" format="#2" width="20" result="time_routines:hours" />:
		<input type="text" format="#2" width="20" result="time_routines:minutes" />:
		<input type="text" format="#2" width="20" result="time_routines:seconds" />
		<br />
		<input type="text" format="#2" width="18" result="time_routines:setdays" />.
		<input type="text" format="#2" width="18" result="time_routines:setmonths" />.
		<input type="text" format="#4" result="time_routines:setyears" />
		&#160;&#160;
		<input type="text" format="#2" width="20" result="time_routines:sethours" />:
		<input type="text" format="#2" width="20" result="time_routines:setminutes" />
		<input type="button" value="SET" result="time_routines:doset" />
		<br />
		setting time will be reached in
		<input type="text" format="#1." value="seconds" result="time_routines:activate_time" />
		<br />
		<input type="text" value="seconds" format="#1.2" result="time_routines:measure_time"/>
		<input type="togglebutton" value="measure time" result="time_routines:press_measure_time" />
		<br />
		<input type="text" value="seconds" format="#1." result="time_routines:countdown" />
		<input type="togglebutton" value="count down" result="time_routines:press_countdown" />
		<input type="checkbox" result="time_routines:check_again_countdown" />
		begin again when finished
		<br />
		<input type="togglebutton" value="down" result="time_routines:press_down" />
		<input type="text" value="seconds" format="#1.2" result="time_routines:counter" />
		<input type="togglebutton" value="up" result="time_routines:press_up" />
		<input type="checkbox" result="time_routines:check_again_counter" />
		begin again when finished up or down
	</body>
</layout> 
