
<layout>
  <head>
    <title name="Vellemann k8055" />
  </head>
  <body>
    <table cellpadding="0">
      <tr>
	<td colspan="5">
	  Inputs:
	</td>
      </tr>
      <tr>
	<td>
	  <input type="checkbox" result="readVellemann:digitalI1" />
	  I1
	</td>
	<td>
	  <input type="checkbox" result="readVellemann:digitalI2" />
	  I2
	</td>
	<td>
	  <input type="checkbox" result="readVellemann:digitalI3" />
	  I3
	</td>
	<td>
	  <input type="checkbox" result="readVellemann:digitalI4" />
	  I4
	</td>
	<td>
	  <input type="checkbox" result="readVellemann:digitalI5" />
	  I5
	</td>
      </tr>
      <tr>
	<td height="20">
	</td>
      </tr>
      <tr>
	<td colspan="5">
	  Outputs:
	</td>
      </tr>
      <tr>
	<td>
	  <input type="checkbox" result="writeVellemann:digital01" />
	  01
	</td>
	<td>
	  <input type="checkbox" result="writeVellemann:digital02" />
	  02
	</td>
	<td>
	  <input type="checkbox" result="writeVellemann:digital03" />
	  03
	</td>
	<td>
	  <input type="checkbox" result="writeVellemann:digital04" />
	  04
	</td>
	<td>
	  <input type="checkbox" result="writeVellemann:digital05" />
	  05
	</td>
	<td>
	  <input type="checkbox" result="writeVellemann:digital06" />
	  06
	</td>
	<td>
	  <input type="checkbox" result="writeVellemann:digital07" />
	  07
	</td>
	<td>
	  <input type="checkbox" result="writeVellemann:digital08" />
	  08
	</td>
      </tr>
      <tr>
	<td height="30">
	</td>
      </tr>
      <tr>
	<td>
	</td>
      </tr>
    </table><br />
    <table>
      <tr>
	<td>
	  PWM1
	  <input type="range" height="200" result="writeVellemann:analogPWM1" min="0" max="255" />
	</td>
	<td>
	  PWM2
	  <input type="range" height="200" result="writeVellemann:analogPWM2" min="0" max="255" />
	</td>
	<td width="150">
	</td>
	<td>
	  <input type="range" height="200" result="readVellemann:analogA1" min="0" max="255" />
	  A1<br />
	  <input type="input" value="" width="30" result="readVellemann:analogA1" />
	</td>
	<td>
	  <input type="range" height="200" result="readVellemann:analogA2" min="0" max="255" />
	  A2<br />
	  <input type="input" value="" width="30" result="readVellemann:analogA2" />
	</td>
      </tr>
    </table><br />
    <table border="0">
      <tr>
	<td>
	  counter 1:
	</td>
	<td>
	  <input type="input" format="#1" value="" readonly="readonly" result="readVellemann:counter1" />
	</td>
	<td>
	  counter 2:
	</td>
	<td>
	  <input type="input" value="" readonly="readonly" result="readVellemann:counter2" />
	</td>
      </tr>
      <tr>
	<td>
	</td>
	<td>
	  <input type="button" value="reset" align="center" result="writeVellemann:reset1" />
	</td>
	<td>
	</td>
	<td>
	  <input type="button" value="reset" result="writeVellemann:reset2" />
	</td>
      </tr>
      <tr>
	<td>
	</td>
	<td>
	  debounce time<br />
	  <input type="radio" name="myradio1" value="0" result="writeVellemann:debounce1" />
	  0 ms<br />
	  <input type="radio" name="myradio1" value="1" result="writeVellemann:debounce1" />
	  2 ms<br />
	  <input type="radio" name="myradio1" value="2" result="writeVellemann:debounce1" />
	  10 ms<br />
	  <input type="radio" name="myradio1" value="3" result="writeVellemann:debounce1" />
	  1000 ms<br />
	</td>
	<td>
	</td>
	<td>
	  debounce time<br />
	  <input type="radio" name="myradio2" value="0" result="writeVellemann:debounce2" />
	  0 ms<br />
	  <input type="radio" name="myradio2" value="2" result="writeVellemann:debounce2" />
	  2 ms<br />
	  <input type="radio" name="myradio2" value="10" result="writeVellemann:debounce2" />
	  10 ms<br />
	  <input type="radio" name="myradio2" value="1000" result="writeVellemann:debounce2" />
	  1000 ms<br />
	</td>
      </tr>
    </table>
  </body>
</layout>