<layout>
  <head>
    <title name="Hauppauge" />
    <meta name="permission" content="lconfread" />
  </head>
  <body>
    <table boder="1" width="100">
      <tr>
        <td>
          <input type="togglebutton" value="record" result="TRANSMIT_RECEIVE_main_settings:record" />
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
          Hauppauge
        </td>
      </tr>
    </table><br />
    <table border="1">
      <tr>
        <td>
          <table border="0" >
            <tr>
              <td align="center">
                <input type="checkbox" result="Hauppauge_TV:receive" readonly="readonly" />
                <input type="togglebutton" value="TV" result="Hauppauge__show:TV" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_CHANNELUP:receive" readonly="readonly" />
                <input type="togglebutton" value="CH +" result="Hauppauge__show:KEY_CHANNELUP" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_RADIO:receive" readonly="readonly" />
                <input type="togglebutton" value="RADIO" result="Hauppauge__show:RADIO" />
              </td>
            </tr>
            <tr>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_VOLUMEDOWN:receive" readonly="readonly" />
                <input type="togglebutton" value="VOL -" result="Hauppauge__show:KEY_VOLUMEDOWN" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_FULL_SCREEN:receive" readonly="readonly" />
                <input type="togglebutton" value="FULL SCREEN" result="Hauppauge__show:FULL_SCREEN" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_VOLUMEUP:receive" readonly="readonly" />
                <input type="togglebutton" value="VOL +" result="Hauppauge__show:KEY_VOLUMEUP" />
              </td>
            </tr>
            <tr>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_MUTE:receive" readonly="readonly" />
                <input type="togglebutton" value="MUTE" result="Hauppauge__show:KEY_MUTE" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_CHANNELDOWN:receive" readonly="readonly" />
                <input type="togglebutton" value="CH -" result="Hauppauge__show:KEY_CHANNELDOWN" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_SOURCE:receive" readonly="readonly" />
                <input type="togglebutton" value="SOURCE" result="Hauppauge__show:SOURCE" />
              </td>
            </tr>
            <tr>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_1:receive" readonly="readonly" />
                <input type="togglebutton" value="1" result="Hauppauge__show:KEY_1" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_2:receive" readonly="readonly" />
                <input type="togglebutton" value="2" result="Hauppauge__show:KEY_2" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_3:receive" readonly="readonly" />
                <input type="togglebutton" value="3" result="Hauppauge__show:KEY_3" />
              </td>
            </tr>
            <tr>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_4:receive" readonly="readonly" />
                <input type="togglebutton" value="4" result="Hauppauge__show:KEY_4" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_5:receive" readonly="readonly" />
                <input type="togglebutton" value="5" result="Hauppauge__show:KEY_5" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_6:receive" readonly="readonly" />
                <input type="togglebutton" value="6" result="Hauppauge__show:KEY_6" />
              </td>
            </tr>
            <tr>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_7:receive" readonly="readonly" />
                <input type="togglebutton" value="7" result="Hauppauge__show:KEY_7" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_8:receive" readonly="readonly" />
                <input type="togglebutton" value="8" result="Hauppauge__show:KEY_8" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_9:receive" readonly="readonly" />
                <input type="togglebutton" value="9" result="Hauppauge__show:KEY_9" />
              </td>
            </tr>
            <tr>
              <td align="center">
                <input type="checkbox" result="Hauppauge_RESERVED:receive" readonly="readonly" />
                <input type="togglebutton" value="RESERVED" result="Hauppauge__show:RESERVED" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_KEY_0:receive" readonly="readonly" />
                <input type="togglebutton" value="0" result="Hauppauge__show:KEY_0" />
              </td>
              <td align="center">
                <input type="checkbox" result="Hauppauge_MINIMIZE:receive" readonly="readonly" />
                <input type="togglebutton" value="MINIMIZE" result="Hauppauge__show:MINIMIZE" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
          <table>
            <tr>
              <td align="right">
                button:
              </td>
              <td>
                <input type="spinner" result="Hauppauge__choice:group" width="20" min="1" max="21" />&#160;
                <input type="text" result="Hauppauge__choice:correct_group" value="" disabled="disabled" width="20"/>
              </td>
            </tr>
            <tr>
              <td align="right">
                steps:
              </td>
              <td>
                <input type="spinner" result="Hauppauge__choice:steps" />
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <select size="1" result="Hauppauge__choice:steps_action">
                  <option value="0">UP STOP</option>
                  <option value="1">DOWN STOP</option>
                  <option value="2">UP LOOP</option>
                  <option value="3">DOWN LOOP</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <select size="1" result="Hauppauge__choice:transmit_action">
                  <option value="0">SEND ONCE</option>
                  <option value="1">SEND units</option>
                  <option value="2">SEND</option>
                  <option value="3">WAIT after</option>
                  <option value="4">BACK time</option>
                </select>
              </td>
            </tr>
            <tr>
              <td align="right">
                <input type="checkbox" result="Hauppauge__choice:receive" readonly="readonly" />
              </td>
              <td>
                <select size="1" result="Hauppauge__choice:correct_group" disabled="disabled">
                  <option value="1">TV</option>
                  <option value="2">CH +</option>
                  <option value="3">RADIO</option>
                  <option value="4">VOL -</option>
                  <option value="5">FULL SCREEN</option>
                  <option value="6">VOL +</option>
                  <option value="7">MUTE</option>
                  <option value="8">CH -</option>
                  <option value="9">SOURCE</option>
                  <option value="10">1</option>
                  <option value="11">2</option>
                  <option value="12">3</option>
                  <option value="13">4</option>
                  <option value="14">5</option>
                  <option value="15">6</option>
                  <option value="16">7</option>
                  <option value="17">8</option>
                  <option value="18">9</option>
                  <option value="19">RESERVED</option>
                  <option value="20">0</option>
                  <option value="21">MINIMIZE</option>
                </select>
                <br />
                <input type="button" value="PRESS" result="Hauppauge__choice:count" />
              </td>
            </tr>
            <tr>
              <td align="right">
                send units per step:
              </td>
              <td>
                <input type="spinner" result="Hauppauge__choice:lirc_step" width="20" min="1" />
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <input type="spinner" result="Hauppauge__choice:count_run_steps" width="20" min="1" />&#160;
                <input type="button" value="run Steps" result="Hauppauge__choice:do_run_steps" />
              </td>
            </tr>
            <tr>
              <td align="right">
                first touch show:
              </td>
              <td>
                <input type="checkbox" result="Hauppauge__choice:display_first" />
              </td>
            </tr>
            <tr>
              <td align="right">
                wait double time<br />
                by begin:
              </td>
              <td>
                <input type="checkbox" result="Hauppauge__choice:double" />
              </td>
            </tr>
            <tr>
              <td align="right">
                set only actual step:<br />
                            to value:
              </td>
              <td>
                <input type="checkbox" result="Hauppauge__choice:set_steps" />
                <input type="spinner" result="Hauppauge__choice:digits" width="20" min="1" max="5" />
                &#160;digits<br />
                <input type="spinner" result="Hauppauge__choice:to_value" width="50" min="0" max="99999" />
              </td>
            </tr>
            <tr>
              <td align="right">
                wait after:
              </td>
              <td>
                <input type="text" value="sec" format="#1.3" result="Hauppauge__choice:after" /><br />
                <input type="text" value="items" result="Hauppauge__choice:calculate_lirc" />
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <input type="button" value="CALCULATE" result="Hauppauge__choice:calcbutton" />
              </td>
            </tr>
            <tr>
              <td align="right">
                <input type="checkbox" result="Hauppauge__choice:wait_back_time" readonly="readonly" />
                back time:
              </td>
              <td>
                <input type="text" value="sec" format="#1.3" result="Hauppauge__choice:back_time" />
              </td>
            </tr>
            <tr>
              <td align="right">
                actual step:
              </td>
              <td>
                <input type="spinner" result="Hauppauge__choice:actual_step" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="right">
                when button
                <select size="1" result="Hauppauge__choice:change1">
                  <option value="0">- undefined -</option>
                  <option value="1">TV</option>
                  <option value="2">CH +</option>
                  <option value="3">RADIO</option>
                  <option value="4">VOL -</option>
                  <option value="5">FULL SCREEN</option>
                  <option value="6">VOL +</option>
                  <option value="7">MUTE</option>
                  <option value="8">CH -</option>
                  <option value="9">SOURCE</option>
                  <option value="10">1</option>
                  <option value="11">2</option>
                  <option value="12">3</option>
                  <option value="13">4</option>
                  <option value="14">5</option>
                  <option value="15">6</option>
                  <option value="16">7</option>
                  <option value="17">8</option>
                  <option value="18">9</option>
                  <option value="19">RESERVED</option>
                  <option value="20">0</option>
                  <option value="21">MINIMIZE</option>
                </select>
                &#160;has value
                <input type="spinner" result="Hauppauge__choice:isvalue1" width="20" min="0" />
                <br />set actual step to
                <input type="spinner" result="Hauppauge__choice:tovalue1" width="20" min="0" />
                <br />
                when button
                <select size="1" result="Hauppauge__choice:change2">
                  <option value="0">- undefined -</option>
                  <option value="1">TV</option>
                  <option value="2">CH +</option>
                  <option value="3">RADIO</option>
                  <option value="4">VOL -</option>
                  <option value="5">FULL SCREEN</option>
                  <option value="6">VOL +</option>
                  <option value="7">MUTE</option>
                  <option value="8">CH -</option>
                  <option value="9">SOURCE</option>
                  <option value="10">1</option>
                  <option value="11">2</option>
                  <option value="12">3</option>
                  <option value="13">4</option>
                  <option value="14">5</option>
                  <option value="15">6</option>
                  <option value="16">7</option>
                  <option value="17">8</option>
                  <option value="18">9</option>
                  <option value="19">RESERVED</option>
                  <option value="20">0</option>
                  <option value="21">MINIMIZE</option>
                </select>
                &#160;has value
                <input type="spinner" result="Hauppauge__choice:isvalue2" width="20" min="0" />
                <br />set actual step to
                <input type="spinner" result="Hauppauge__choice:tovalue2" width="20" min="0" />
                <br />
              </td>
            </tr>
          </table>
  </body>
